<div class="tako-confirm" ng-show="success">
  <i class="fa fa-check-circle success"></i>
  <h1>激活成功 !</h1>
  <a class="btn btn-success" ng-href="/login_with/{{email}}">登 录</a>
</div>

<div class="tako-confirm" ng-hide="success">
  <i class="fa fa fa-exclamation-circle error"></i>
  <h1>验证无效或链接已过期</h1>
  <button ng-click="resend(email)" class="btn btn-primary">重新发送激活邮件</button>
</div>