<div class="banner">
  <div><img ng-src="images/session/bubble@2x.png" width="112" height="179"></div>
  <a ng-href="/" class="logo"><img ng-src="images/session/logo@2x.png" width="109" height="109"></a>
</div>