<div class="dash">
  <div class="move-group" ng-show="editing">
    <input type="text" ng-model="editingapp.appname_new"/>
    &nbsp;&nbsp;
    <a class="pointer btn btn-primary" class="text-blue" ng-click="editApp()">确认</a>
    <a class="pointer btn btn-primary" class="text-blue" ng-click="editing=false">取消</a>
  </div>
  <div class="move-group" ng-show="movingGroup">
    <select class="app-group" ng-model="move2groupid">
      <option ng-repeat="option in appgroups" value="{{option.id}}">{{option.name}}</option>
    </select>
    &nbsp;&nbsp;
    <a class="pointer btn btn-primary" class="text-blue" ng-click="moveGroup(move2groupid)">确认</a>
    <a class="pointer btn btn-primary" class="text-blue" ng-click="movingGroup=false">取消</a>
  </div>
  <div class="row clearfix">
    <div class="col-md-2 col-sm-3 col-xs-12">
      应用组:  <select class="app-group" ng-model="groupid" ng-change="newSearchMyApps()">
      <option value=""></option>
      <option ng-repeat="option in appgroups" value="{{option.id}}">{{option.name}}</option>
    </select>
    </div>
  </div>
  <table class="tako table table-hover" infinite-scroll="searchMyApps()">
    <thead>
      <tr>
        <th><input type="checkbox" ng-model="chkall" ng-click="checkedAll(chkall)"/></th>
        <th ng-show="groupid==''">应用组</th>
        <th>名称</th>
        <th>类型</th>
        <th>版本</th>
        <th>下载次数</th>
        <th>上传时间</th>
        <th>分发地址</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in apps">
        <td><input type="checkbox" ng-change="onChecked()" ng-model="app.checked"/></td>
        <td ng-show="groupid==''">{{ app.groupname }}</td>
        <td><a class="truncate pointer" ng-click="view(app)" style="color:#4298ba">{{ app.appname }}</a>&nbsp;&nbsp;<i class="fa fa-edit" ng-click="toEditApp($event, $index)"/></td>
        <td>{{ app.platform | platform }}</td>
        <td>{{ app.releaseversion.package.version }}
          <span ng-show="!!app.releaseversion.package.buildnumber">(build {{ app.releaseversion.package.buildnumber }})</span>
        </td>
        <td>{{ app.downloadcount }}</td>
        <td>{{ app.releaseversion.createtime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td><a href="http://{{ $root.serverhost }}/{{ app.uri }}" style="color:#4298ba;margin-left:10px" target="_blank"><span style="color:red">|</span>http://{{$root.serverhost}}/{{app.uri}}<span style="color:red">|</span></a></td>
      </tr>
      <tr>
        <td><input type="checkbox" ng-model="chkall" ng-click="checkedAll(chkall)"/></td>
        <td colspan="7" align="left">
          <a id="uricopier" class="pointer btn btn-primary btn-xs uricopier" class="text-blue" action="copy" data-clipboard-text="">复制分发地址</a>
          <a class="pointer btn btn-primary btn-xs" class="text-blue" ng-click="movingGroup=true">移动到其他组</a>
          <a class="pointer btn btn-primary btn-xs uricopy" class="text-blue" ng-click="deleteApps($event)">删除</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
