<div class="modal-header">
  <h3 class="modal-title" style="color: #666">向
    <img fallback-src ng-src="{{ app.logourl }}" width="24" height="24" style="position: relative; top: -3px"> 
    <span style="color: #333">{{ app.appname }} </span>提交反馈
  </h3>
</div>
<div class="modal-body">
  <textarea class="form-control" rows="5" ng-model="note" placeholder="反馈内容 (至少 10 个字)"></textarea>
  <div class="preivews clearfix" style="margin-top: 20px" ng-show="uploader.queue.length">
    <div class="preivew relative pull-left" ng-repeat="item in uploader.queue">
      <i class="fa fa-times pointer pull-right" ng-click="item.remove()"
        style="color: #fff; background: #bd2c00; padding: 2px 4px; position: absolute; top: -6px; right: 4px; border-radius: 10px"></i>
      <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 180 }" style="margin: 0 10px 10px 0">
    </div>
    </div>
  </div>
  <div class="relative" style="margin-top: 15px">
    <input type="file" class="pointer fullspace transparent" nv-file-select uploader="uploader" multiple>
    <button class="btn btn-primary btn-block" ng-disabled="uploader.queue.length == uploader.queueLimit">
      <i class="fa fa-fw fa-cloud-upload"></i> 上传截图</button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
  <button class="btn btn-success" type="button" ng-click="submit()" ng-disabled="!note || note.length < 10">提交</button>
</div>
