<div class="group">
  <div class="edit-group" ng-show="editing">
    <input type="text" ng-model="editinggroup.name_new"/>
    &nbsp;&nbsp;
    <a class="pointer btn btn-primary" class="text-blue" ng-click="editGroup()">确认</a>
    <a class="pointer btn btn-primary" class="text-blue" ng-click="editing=false">取消</a>
  </div>
  <table class="tako table table-hover">
    <thead>
      <tr>
        <th>名称</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in groups">
        <td>{{ group.name }}&nbsp;&nbsp;<i class="fa fa-edit" ng-click="toEditGroup($event, $index)"/></td>
        <td>{{ group.firstcreated | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td><a class="pointer btn btn-danger btn-xs" class="text-blue" ng-click="deleteGroup($event, $index)">删除</a></td>
      </tr>
    </tbody>
  </table>
</div>