<div class="home">
  <!-- <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <button class="btn btn-block btn-success" ng-click="create()"><i class="fa fa-fw fa-cloud-upload"></i> 创建应用</button>
  </div> -->
    
  <section class="marketing odd marketing-main">
    <div class="container clearfix">
      <div class="textwrap">
        <a class="publish pointer image-button" ng-click="create()">
          <img src="images/home/publish-normal.png" width="233" height="67" class="normal">
          <img src="images/home/publish-active.png" width="233" height="67" class="active">
        </a>
      </div>
      <div class="text-center">
        <img src="images/home/main-image.png"  width="570" height="420" class="hidden-lg limit-width">
      </div>
    </div>
  </section>

  <div class="marketing marketing-upload">
    <div class="container">
      <div class="text-center">
        <img src="images/home/upload-image.png" width="412" height="412" class="hidden-lg limit-width image-top">
      </div>
      <div class="textwrap">
        <p><img src="images/home/upload-title.png" width="450" height="50"  class="limit-width limit-margin-bottom title"></p>
        <p><img src="images/home/upload-desc.png"  width="333" height="60"  class="limit-width desc"></p>
      </div>
      <img src="images/home/upload-image.png" width="412" height="412" class="image visible-lg pull-left">
    </div>
  </div>
  
  <div class="marketing odd marketing-feedback clearfix">
    <div class="container">
      <img src="images/home/feedback-image.png" width="412" height="412" class="image limit-width">
      <div class="textwrap">
        <p><img src="images/home/feedback-title.png" width="548" height="51" class="limit-width limit-margin-bottom title"></p>
        <p><img src="images/home/feedback-desc.png"  width="332" height="25" class="limit-width text"></p>
      </div>
    </div>
  </div>
  
  <div class="marketing marketing-store">
    <div class="container">
      <div><img src="images/home/store-image.png" width="100" height="92" class="limit-width limit-margin-bottom image"></div>
      <div><img src="images/home/store-title.png" width="650" height="50" class="limit-width limit-margin-bottom title"></div>
      <a class="pointer store-button image-button" ng-click="store()">
        <img class="normal" src="images/home/store-button.png"         width="266" height="72">
        <img class="active" src="images/home/store-button-active.png"  width="266" height="72">
      </a>
    </div>
  </div>
</div>
