<div class="item">
  <h1>
    <div class="logo" ng-class="{'editable': user.canManage }">
      <img fallback-src ng-src="{{ app.logourl }}" width="70" height="70">
      <input ng-if="user.canManage" type="file" nv-file-select uploader="uploader" class="logofile" accept=".jpg,.png">
    </div>
	<div class="app">
    <div>{{ app.appname }}</div>
    <div class="platform">{{ app.platform | platform }}</div>
    </div>
    <div style="display: inline-block"><a class="view" ng-href="http://{{$root.serverhost}}/{{app.newuri}}" target="_blank"><i class="fa fa-fw fa-external-link"></i> 查看应用</a></div>
  </h1>
  <div style="float:right; padding-top: 30px">包名: {{ app.packagename }}<br/>版本: {{ app.releaseversion.package.version }} (build {{ app.releaseversion.package.buildnumber }})</div>
  <tabset class="tako-tabs">
    <tab heading="下载记录{{ dlog_count | counter }}" select="set_active_tab('dlog')">
      <table class="tako table table-hover version-table" infinite-scroll="getAppDlog()">
        <thead>
          <tr>
            <th>IP</th>
            <th>版本</th>
            <th>访问时间</th>
            <th>下载时间</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dlog in dlogs">
            <td>{{dlog.client.ip}}</td>
            <td>{{dlog.version}}(Bulid {{dlog.buildnumber}})</td>
            <td>{{dlog.viewtime | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{dlog.begintime | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
      <div style="position: relative; height: 100px" ng-show="loadingDlogs">
        <span us-spinner></span>
      </div>
    </tab>
    <tab heading="应用设置" select="settings()">

      <div class="form-horizontal" style="margin-top: 30px">

        <div class="form-group">
          <label class="control-label setting-label col-md-1">应用名称</label>
          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="app.appname">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">下载密码</label>
          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="app.password">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">更新说明</label>
          <div class="col-md-5">
            <textarea class="form-control" ng-model="app.releaseversion.releasenote" rows="5"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">应用介绍</label>
          <div class="col-md-5">
            <textarea class="form-control" ng-model="app.appdesc" rows="5"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1 clearfix">
            <button class="btn btn-success pull-right" ng-click="updateAppInfo()">
              <i class="fa fa-fw fa-check"></i> 保存更改
            </button>
          </div>
        </div>
      </div>
    </tab>
    <!-- 应用测试-->
    <!-- 测试日志-->


  </tabset>
</div>
