<div class="app-classify-container" id="jx3AppClassify">
  <div class="app-classify">
    <h4>剑网三口袋版</h4>
    <a class="sectionapp col-md-3" href="http://tako.im/u283" target="_blank">
      <div>
        <img src="../images/jx3.png" class="app-img"/>
        <p class="app-name">
          内网版 Android
          <!-- 内网版 <i class="fa fa-android"></i> -->
        </p>
        <p class="app-link">
          <button class="btn btn-sm btn-default"><i class="fa fa-android"></i>下载</button>
        </p>
      </div>
    </a>
    <a class="sectionapp col-md-3" href="http://tako.im/xbpf" target="_blank">
      <div>
        <img src="../images/jx3.png" class="app-img"/>
        <p class="app-name">
          内网版 iOS
          <!-- 内网版 <i class="fa fa-apple"></i> -->
        </p>
        <p class="app-link">
          <button class="btn btn-sm btn-default"><i class="fa fa-apple"></i>下载</button>
          <!-- <span>http://tako.im/xbpf(Android)</span> -->
        </p>
      </div>
    </a>
    <a class="sectionapp col-md-3" href="http://tako.im/4vm0" target="_blank">
      <div>
        <img src="../images/jx3.png" class="app-img"/>
        <p class="app-name">
          外网版 Android
        </p>
        <p class="app-link">
          <button class="btn btn-sm btn-default"><i class="fa fa-android"></i>下载</button>
          <!-- <span>http://tako.im/4vm0</span> -->
        </p>
      </div>
    </a>
    <a class="sectionapp col-md-3" href="http://tako.im/u11v" target="_blank">
      <div>
        <img src="../images/jx3.png" class="app-img"/>
        <p class="app-name">
          外网版 iOS
        </p>
        <p class="app-link">
          <button class="btn btn-sm btn-default"><i class="fa fa-apple"></i>下载</button>
          <!-- <span>http://tako.im/u11v</span> -->
        </p>
      </div>
    </a>
  </div>
</div>
