<div class="modal-body"
    ng-swipe-left="Lightbox.nextImage()"
    ng-swipe-right="Lightbox.prevImage()">
  <!-- navigation -->
  <div class="lightbox-nav" style="height: 20px">
    <!-- close button -->
    <button class="close" aria-hidden="true" ng-click="$dismiss()"><i class="fa fa-remove"></i></button>
  </div>

  <div class="lightbox-image-container">
    <!-- caption -->
    <div class="lightbox-image-caption">
      <span>{{Lightbox.imageCaption}}</span>
    </div>

    <!-- video, requires 'videosharing-embed' module -->
    <div ng-if="Lightbox.showVideo" class="embed-responsive embed-responsive-16by9">
      <embed-video lightbox-video lightbox-src="{{Lightbox.imageUrl}}" ng-href="{{Lightbox.imageUrl}}" controls="1" showinfo="0" title="0" byline="0" portrait="0" info="0" badge="0" class="embed-responsive-item"></embed-video>
    </div>
    <!-- image -->
    <img ng-if='!Lightbox.showVideo' lightbox-src="{{Lightbox.imageUrl}}" alt="">
  </div>
  <div class="actions" style="text-align: center; margin-top: 10px">
    <div class="btn-group">
      <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()" translate>
        <i class="fa fa-arrow-left"></i>
      </a>

      <a ng-href="{{Lightbox.imageUrl}}" target="_blank"
          class="btn btn-xs btn-default" title="在新页面中打开" translate>
          <i class="fa fa-external-link"></i>
      </a>

      <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()" translate>
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>