<div class="session clearfix">
  <div style="">
    <h1>登录</h1>
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 form-container">
      <form class="form" name="form" novalidate>
        <div class="form-group">
          <input type="email" class="form-control"    name="email" ng-model="email" placeholder="邮箱" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" ng-model="password" ng-minlength="6" placeholder="密码" required>
        </div>
        <input type="hidden" name="serverhost" ng-model="serverhost"/>
        <button class="btn btn-block btn-action" ng-click="login($event)" name="submit">登 录</button>
      </form>
    </div>
  </div>

</div>
