<div class="navbar tako-navbar" role="navigation" ng-controller="NavbarCtrl" ng-hide="session"
     ng-class="{ 'light': path === '/' || session, 'fixed fadeOutUp animated': session, 'fadeInDown animated': !session }">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav navbar-main" style="text-align: left">
        <li>
          <a class="pointer" ng-click="goto('/uploads')">
            <i class="fa"></i> 批量上传
          </a>
        </li>
        <li>
          <a class="pointer" ng-click="goto('/release')">
            <i class="fa"></i> 上传应用
          </a>
        </li>
        <li>
          <a class="pointer" ng-click="goto('/dash')">
            <i class="fa"></i> 应用管理
          </a>
        </li>
        <li>
          <a class="pointer" ng-click="goto('/group')">
            <i class="fa"></i> 应用组管理
          </a>
        </li>
        <li>
          <a class="pointer" ng-click="goto('/storage')">
            <i class="fa"></i>存储管理
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="loggedIn"><a class="pointer" ng-click="goto('/signin')">登录</a></li>
        <li ng-show="loggedIn"><a class="pointer login-link" ng-click="goto('/user')"><span style="margin-right: 5px">{{ nickname }}</span></a></li>
        <li ng-show="loggedIn"><a class="pointer" ng-click="logout()">退 出</a></li>
      </ul>
    </div>
  </div>
</div>
