<div class="session clearfix">
  <div ng-include="'views/banner.html'"></div>
  <h1>注册</h1>
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 form-container">
    <form class="form" name="form" autocomplete="off" novalidate>
      <div class="form-group has-feedback" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
        <input type="email" class="form-control" name="email" ng-model="email" placeholder="邮箱" required>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
        <input type="password" class="form-control" name="password" ng-model="password" ng-minlength="6" placeholder="密码" required>
        <label class="terms pull-right"><input type="checkbox" ng-model="agreed"> 同意并接受《Tako服务条款》 </label>
      </div>
      <button class="btn btn-block btn-action" ng-click="signup($event)" name="submit">注 册</button>
      <p class="message">已有账号？赶紧 <a ng-href="/signin">登录</a> 吧</p>
    </form>
  </div>  
</div>