<div class="storage">
  <div class="add-storage" ng-show="storage_adding">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label setting-label col-md-3">类型</label>
        <div class="col-md-8">
          <select class="form-control" ng-model="addingStorage.type" ng-change="onStorageTypeChanged(addingStorage.type)">
            <option ng-repeat="option in types" value="{{option.key}}">{{option.val}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label setting-label col-md-3">名称</label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="addingStorage.name">
        </div>
      </div>

      <div class="form-group" ng-show="addingStorage.type == 'aliyun' || addingStorage.type == 'ksyun'">
        <label class="control-label setting-label col-md-3">Endpoint</label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="addingStorage.endpoint">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label setting-label col-md-3">上传域名/IP</label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="addingStorage.uploaddomain">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label setting-label col-md-3">下载域名/IP</label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="addingStorage.downloaddomain">
        </div>
      </div>

      <div class="form-group" ng-show="addingStorage.type != 'fileserver'">
        <label class="control-label setting-label col-md-3">空间名称</label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="addingStorage.bucket">
        </div>
      </div>

      <div class="form-group" ng-show="addingStorage.type != 'fileserver'">
        <label class="control-label setting-label col-md-3">AccessKey</label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="addingStorage.accesskey">
        </div>
      </div>

      <div class="form-group" ng-show="addingStorage.type != 'fileserver'">
        <label class="control-label setting-label col-md-3">SecretKey</label>
        <div class="col-md-8">
          <input type="text" class="form-control" ng-model="addingStorage.secretkey">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label setting-label col-md-3">默认</label>
        <div>
          <label class="col-md-8 public-label">
            <input type="checkbox" ng-model="addingStorage.default">
            <span class="public-notice">设置为默认存储的路径</span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="text-center clearfix">
          <button class="btn btn-primary" ng-click="addStorage()">
            保存
          </button>
          &nbsp;
          <button class="btn btn-primary" ng-click="storage_adding = false">
            取消
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <a ng-click="storage_adding=true" class="btn btn-info btn-block">新增存储路径</a>
    </div>
  </div>
  <table class="tako table table-hover">
    <thead>
      <tr>
        <th>类型</th>
        <th>名称</th>
        <th>上传域名/IP</th>
        <th>下载域名/IP</th>
        <th>创建时间</th>
        <th>默认</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="storage in storages">
        <td>{{ storage.typename }}</td>
        <td>{{ storage.name }}</td>
        <td>{{ storage.uploaddomain }}</td>
        <td>{{ storage.downloaddomain }}</td>
        <td>{{ storage.firstcreated | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ storage.default | YesOrNo }}</td>
        <td>
          <a class="pointer btn btn-primary btn-xs" class="text-blue" ng-show="storage.default==false" ng-click="setDefault(storage.id)">设为默认</a>
          <a class="pointer btn btn-danger btn-xs" class="text-blue" ng-click="deleteStorage($event, $index)">删除</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>