<div class="store clearfix" infinite-scroll="getApps()">
  <div class="col-md-2 col-sm-3 col-xs-6" style="height: 180px" ng-repeat="app in apps">
    <a ng-href="/{{ app.uri }}" target="_blank" class="app">
      <img lazy-img="{{ app.logourl }}" height="60" width="60">
      <span class="name">{{ app.appname }}</span>
    </a>
    <span class="platform" ng-class="{ 'ios': app.platform == 1, 'android': app.platform == 2 }">{{ app.platform | platform }}</span>
  </div>
</div>