<div class="survey" ng-controller="SurveyCtrl">
  <div ng-hide="editing_form">
    <button class="btn btn-success btn-new" ng-click="createForm()"><i class="fa fa-fw fa-plus-circle"></i> 新增问卷</button>
    <h2 style="margin-top: 20px">问卷列表</h2>
    <div class="forms row">
      <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="form in forms">
        <div class="form" ng-click="editForm(form, $index)">
          <i class="fa fa-file-text-o icon-file"></i>
          <p class="title truncate">{{ form.name }}</p>
          <div class="date"><i class="fa fa-pencil-square-o"></i> {{ form.lastmodified | date:'yyyy-MM-dd HH:mm:ss' }}</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="editing_form" class="form-editor clearfix">
    <a class="pointer" ng-click="editing_form = false"><i class="fa fa-fw fa-arrow-left"></i> 返回问卷列表</a>
    <h2>问卷设置</h2>
    <div class="form-settings">
      <div class="setting">
        <label class="font-normal"><input type="checkbox" ng-model="current_form.suffle"> 问题以随机顺序出现在问卷中</label>
      </div>
      <div class="setting">
        <label class="font-normal"><input type="checkbox" ng-model="current_form.resubmit"> 允许用户在提交问卷后修改问题答案</label>
      </div>
      <div class="setting row" style="margin-top: 8px">
        <div class="form-group col-md-6 col-sm-8 col-sm-12">
          <label>确认页面提示语句</label>
          <input class="form-control" ng-model="current_form.responsetext">
        </div>
      </div>
    </div>
    <h2>问卷内容</h2>
    <div class="form-content clearfix col-md-8 col-sm-10 col-xs-12">
      <div>
        <input class="editable form-control form-title" ng-model="current_form.name" placeholder="问卷标题">
      </div>
      <div>
        <input class="editable form-control form-desc" ng-model="current_form.desc" placeholder="问卷描述">
      </div>
      <div class="form-questions" ui-sortable ng-model="current_form.items">
        <div class="question fade user-select-none" ng-repeat="question in current_form.items" ng-click="editQuestion(question, $index)"
          ng-class="{ 'in': question, 'out': !question, 'editing': question.editing }">
          
          <div class="actions pull-right">
            <button class="btn-edit"   ng-click="editQuestion(question, $index)"><i class="fa fa-pencil"></i></button>
            <button class="btn-remove" ng-click="removeQuestion(question, $index)"><i class="fa fa-trash-o"></i></button>
          </div>
          
          <div class="question-editor form-horizontal" ng-if="question.editing" ng-hide="!question.editing">
            <div class="form-group row">
              <label class="control-label pull-left">问题</label>
              <div class="col-md-7 col-sm-8 col-xs-10">
                <input type="text" class="form-control" ng-model="question.title">
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label pull-left">描述</label>
              <div class="col-md-7 col-sm-8 col-xs-10">
                <input type="text" class="form-control" ng-model="question.desc">
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label pull-left">类型</label>
              <div class="typewrap pull-left">
                <select class="form-control" ng-model="question.type">
                  <option ng-repeat="question_type in question_types" value="{{ question_type.value }}" 
                    ng-selected="question.type == question_type.value">{{ question_type.label }}
                  </option>
                </select>
                <i class="fa fa-caret-down"></i>
              </div>
            </div>
            <hr class="row" style="margin-right: 20px">
            <div class="form-group config">
              <input type="text" disabled class="form-control set-height"  value="单行文本回复" ng-if="question.type == 'text'">
              <textarea rows="3" disabled class="form-control" style="cursor: auto" ng-if="question.type == 'ptext'">多行文本回复</textarea>
              <div ng-if="question.type == 'radio'">
                <div ng-repeat="option in question.radio.options" class="clearfix" style="margin: 5px 0 0 -23px">
                  <input class="move pull-left" type="radio" disabled style="margin: 7px 10px 0 0">
                  <input class="form-control set-height pull-left" ng-model="option.text">
                  <i class="fa fa-fw fa-remove pointer pull-left" ng-show="question.radio.options.length > 1" 
                  ng-click="removeOption(option, $index, question.radio.options)"></i>
                </div>
                <div class="new-option clearfix" style="margin: 5px 0 0 -23px">
                  <input class="pull-left" type="radio" disabled style="margin: 7px 10px 0 0">
                  <input class="form-control set-height pull-left" placeholder="点击添加新选项" 
                    ng-click="createOption($event.target.value, question.radio.options, $event)">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <button class="btn btn-success btn-xs btn-done" ng-click="saveQuestion(question, $event)">保 存</button>
              <label class="font-normal"><input type="checkbox" ng-model="question.required"> 必答</label>
            </div>
          </div>
          
          <div class="question-content" ng-show="!question.editing">
            <div class="title">{{ question.title }} <span class="text-danger" ng-show="question.required">*</span></div>
            <div class="desc">{{ question.desc }}</div>
            <div class="ctrl">
              <input type="text" class="move" disabled ng-if="question.type == 'text'">
              <textarea rows="3" disabled class="move" ng-if="question.type == 'ptext'"></textarea>
              <div ng-repeat="option in question.radio.options" ng-if="question.type == 'radio'">
                <input class="ctrl-radio" type="radio" disabled>
                <span class="ctrl-radio-title">{{ option.text }}</span>
              </div>
              <div ng-repeat="option in question.checkbox.options" ng-if="question.type == 'checkbox'">
                <label class="move font-normal"><input type="checkbox" disabled> {{ option.text }}</label>
              </div>
              <div ng-if="question.type == 'list'">
                <select class="move" disabled style="width: 100px"></select>
              </div>
              <div ng-if="question.type == 'slider'">
                <input type="range" min="question.slider.minvalue" max="question.slider.maxvalue" disabled style="width: 100px">
              </div>
              <div ng-if="question.type == 'grid'" class="row">
                <div class="col-md-8 col-sm-10 col-xs-12">
                  <table class="table table-fixed table-striped grid-table">
                    <thead>
                      <tr>
                        <th></th>
                        <th ng-repeat="row in question.grid.row">{{ row.text }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="column in question.grid.column">
                        <td>{{ column.text }}</td>
                        <td ng-repeat="item in question.grid.row"><input disabled type="radio"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>