<div class="tako-confirm" ng-show="success">
  <i class="fa fa-check-circle success"></i>
  <h1>验证成功 !</h1>
  <a ng-href="http://tako.im/tako" target="_blank">请下载 Tako App 进行测试</a>
</div>

<div class="tako-confirm" ng-hide="success">
  <i class="fa fa fa-exclamation-circle error"></i>
  <h1>验证无效或链接已过期</h1>
</div>