<div class="uploads">
  <div ng-show="storage.id == ''">
    <h1 style="color:burlywood">请先在存储管理中新增存储路径!</h1>
  </div>
  <div width="100%" align="center" ng-show="storage.id != ''">
    存储路径：{{ storage.name }}&nbsp;&nbsp;&nbsp;&nbsp;上传域名：{{ storage.uploaddomain }}&nbsp;&nbsp;&nbsp;&nbsp;下载域名：{{ storage.downloaddomain }}
    <span ng-show="diskusage.all > 0">
    &nbsp;&nbsp;&nbsp;&nbsp;磁盘容量：{{ diskusage.all | filesize }}&nbsp;&nbsp;&nbsp;&nbsp;已使用：{{ diskusage.used | filesize }}&nbsp;&nbsp;&nbsp;&nbsp;可用：{{ diskusage.free | filesize }}
    </span>
  </div>
  <div class="well dropzone" nv-file-drop nv-file-over uploader="uploader" ng-hide="parsed || storage.id == ''">
    <i class="fa fa-upload"></i>&nbsp;<i class="fa fa-upload"></i>&nbsp;<i class="fa fa-upload"></i>
    <input type="file" class="file" nv-file-select name="uploadfile" id="pickfiles" multiple>
    <p style="color: darkgray; padding-top: 20px">请点击选择您要上传的.ipa或.apk文件</p>
  </div>
  <div class="well appinfo clearfix" ng-show="parsed">
    <form class="form-horizontal">
      <h3>文件数量: {{ fileCount }}&nbsp;&nbsp;&nbsp;已解析: {{ parsedCount }}</h3>
      <div>&nbsp;</div>
      <table class="table">
        <thead>
        <tr>
          <th>Logo</th>
          <th>应用名</th>
          <th>版本</th>
          <th>大小</th>
          <th class="text-center">进度</th>
          <th class="text-center">状态</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="app in apps">
          <td style="vertical-align: middle"><img fallback-src ng-src="{{ app.logoDataUrl }}" width="50" height="50"></td>
          <td style="vertical-align: middle" title="{{ app.file.name }}" class="pointer"><strong>{{ app.appname }}</strong></td>
          <td style="vertical-align: middle">{{ app.version }}</td>
          <td style="vertical-align: middle">{{ app.file.size | filesize }}</td>
          <td style="vertical-align: middle">
            <progressbar class="progress-striped active" value="app.file.percent" max="100" animate="true" type="success" ng-show="uploading">
              <b>{{ app.file.percent }}%</b>
            </progressbar>
          </td>
          <td class="text-center" style="vertical-align: middle">
            <span ng-show="app.isReady && !app.isSuccess && !app.isError"><i class="glyphicon glyphicon-upload"></i></span>
            <span ng-show="app.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="app.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td class="text-center" style="vertical-align: middle">
            <button type="button" class="btn btn-danger btn-xs" ng-click="removeApp($index)" ng-show="app.isReady">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-hide="parsing">
        <progressbar class="progress-striped active" value="progress" max="100" animate="true" type="success" ng-show="uploading">
          <b>{{ progress }}%</b>
        </progressbar>
        <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-fw fa-arrow-left"></i> 重新选择</button>
        <span class="pull-right">
          应用组
          <select ng-model="appgroupid" class="app-group">
            <option ng-repeat="option in appgroups" value="{{option.id}}">{{option.name}}</option>
          </select>
          <i class="fa fa-plus fa-lg pointer" ng-click="showAddingGroup()"></i>
          &nbsp;&nbsp;&nbsp;
          <a class="pointer btn-default btn-primary btn-xs" ng-if="addingGroup" ng-click="addGroup()">确定</a>
          <a class="pointer btn-default btn-primary btn-xs" ng-if="addingGroup" ng-click="hideAddingGroup()">取消</a>
        <button class="btn btn-success" ng-click="submit()"><i class="fa fa-fw fa-cloud-upload"></i> 提交上传</button>
        </span>
        <!--
        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
        -->
      </div>
    </form>
  </div>
</div>
