<div class="upload">
  <span>
  <progressbar class="progress-striped active" value="progress" max="100" animate="true" type="success" ng-show="uploading">
    <b>{{ progress }}%</b>
  </progressbar>
    </span>
  <div ng-show="storage.id == ''">
    <h1 style="color:burlywood">请先在存储管理中新增存储路径!</h1>
  </div>
  <div width="100%" align="center" ng-show="storage.id != ''">
    存储路径：{{ storage.name }}&nbsp;&nbsp;&nbsp;&nbsp;上传域名：{{ storage.uploaddomain }}&nbsp;&nbsp;&nbsp;&nbsp;下载域名：{{ storage.downloaddomain }}
    <span ng-show="diskusage.all > 0">
    &nbsp;&nbsp;&nbsp;&nbsp;磁盘容量：{{ diskusage.all | filesize }}&nbsp;&nbsp;&nbsp;&nbsp;已使用：{{ diskusage.used | filesize }}&nbsp;&nbsp;&nbsp;&nbsp;可用：{{ diskusage.free | filesize }}
    </span>
  </div>
  <div class="well dropzone" nv-file-drop nv-file-over uploader="uploader" ng-hide="parsed || storage.id == ''">
    <i class="fa fa-upload"></i>
    <input type="file" class="file" nv-file-select name="uploadfile" id="pickfiles">
    <p style="color: darkgray; padding-top: 20px">请点击选择或拖动您要上传的.ipa或.apk文件</p>
    <span class="loading" us-spinner ng-show="parsing"></span>
  </div>
  <div class="well appinfo clearfix" ng-show="parsed">
    <span class="loading" us-spinner ng-show="uploading"></span>
    <form class="form-horizontal col-md-6 col-md-offest-3 col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">Logo</label>
        <div class="col-md-8 col-sm-8">
          <img fallback-src ng-src="{{ app.logoDataUrl }}" width="50" height="50">
          <span class="notice">上传后可在应用设置页面进行修改</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">应用组</label>
        <div class="col-md-8 col-sm-8">
          <select ng-model="app.groupid" class="app-group">
            <option ng-repeat="option in appgroups" value="{{option.id}}">{{option.name}}</option>
          </select>
          <i class="fa fa-plus fa-lg pointer" ng-click="showAddingGroup()"></i>
          <input ng-model="app.groupname" ng-if="addingGroup" required>
          <a class="pointer btn-default btn-primary btn-xs" ng-if="addingGroup" ng-click="addGroup()">确定</a>
          <a class="pointer btn-default btn-primary btn-xs" ng-if="addingGroup" ng-click="hideAddingGroup()">取消</a>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">应用名</label>
        <div class="col-md-8 col-sm-8">
          <input class="form-control" ng-model="app.appname">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">包名</label>
        <div class="col-md-8 col-sm-8">
          <input class="form-control" ng-model="app.package">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">版本号</label>
        <div class="col-md-8 col-sm-8">
          <input class="form-control" ng-model="app.version">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">Build</label>
        <div class="col-md-8 col-sm-8">
          <input class="form-control" ng-model="app.buildnumber">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">更新日志</label>
        <div class="col-md-8 col-sm-8">
          <textarea rows="5" class="form-control" ng-model="app.note"></textarea>
        </div>
      </div>
      <div class="form-group" style="margin-top: 30px;">
        <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
          <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-fw fa-arrow-left"></i> 重新选择</button>
          <button class="btn btn-success pull-right" ng-click="submit()"><i class="fa fa-fw fa-cloud-upload"></i> 提交上传</button>
        </div>
      </div>
    </form>
  </div>
</div>
