<div class="user">
      <div class="form-horizontal" style="margin-top: 30px">
<!--
        <div class="form-group">
          <label class="control-label setting-label col-md-1" style="padding-top: 25px">头像</label>
          <div class="image" ng-class="{'editable': true }">
            <img fallback-src ng-src="{{ user.info.image }}" width="70" height="70">
            <input type="file" nv-file-select uploader="uploader" class="imagefile">
          </div>
        </div>
-->
        <div class="form-group">
          <label class="control-label setting-label col-md-1">用户名</label>
          <div class="col-md-5 username">
              {{ user.username }}
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">邮箱</label>
          <div class="col-md-5 email">
             {{ user.email }}
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">失效时间</label>
          <div class="col-md-5 email">
            {{ user.expiredtime | date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">手机</label>
          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="user.mobile">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">昵称</label>
          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="user.nickname">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">真实姓名</label>
          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="user.info.realname">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">性别</label>
          <div class="col-md-5 gender">
            <input type="radio" value="male" ng-model="user.info.gender"> 男
            <input type="radio" value="female" ng-model="user.info.gender" style="margin-left: 10px"> 女
          </div>
        </div>

        <div class="form-group">
          <label class="control-label setting-label col-md-1">地址</label>
          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="user.info.address">
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1 clearfix">
            <button class="btn btn-success" ng-click="updateUser()">
              <i class="fa fa-fw fa-check"></i> 保存更改
            </button>
          </div>
        </div>
      </div>
</div>