.app-classify-container{
  width: 100%;
  height: 100%;
  // min-height: 670px;
  background: #52AAD1;
  background-image: linear-gradient(-45deg, #1283a3 0, #83c9f5 100%);
  .app-classify{
    padding: 90px 0 20px 0;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
    h4{
      color: #fff;
      margin-bottom: 20px;
      line-height: 30px;
      font-weight: normal;
      font-size: 24px;
    }
    .col-md-3{
      width: 20%;
      margin: 30px 2%;
    }
    .sectionapp{
      display: inline-block;
      margin-top: 30px;
      padding: 20px 10px 10px 10px;
      // border: 1px solid #fff;
      border-radius: 5px;
    }
    .btn-default{
      color: #fff;
      border-color: #fff;
      background: 0 0;
      border-radius: 5px;
      margin-top: 10px;
      &:hover{
        color: #fff;
        background: #66cdcc;
        border-color: #66cdcc;
      }
      .fa{
        margin-right: 6px;
      }
    }
    .app-img{
      width: 70px;
      height: 70px;
      border-radius: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    }
    .app-name{
      color: #fff;
      margin-top: 10px;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .app-link{
      color: #23527c;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 768px) {
  .app-classify-container {
    .app-classify{
      padding: 30px 0;
      .col-md-3{
        width: 100%;
        margin: 10px 0 0 0;
      }
      .app-link{
        margin: 0 auto;
        .btn-default{
          margin-top: 0;
        }
      }

    }
  }
}
