.dash {
  margin-top: 10px;
  .table {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    .btn-group {
      display: -webkit-box;
      > .btn { -webkit-box-flex: 1; }
    }
  }
  .tako-tabs {
    margin-top: 30px;
  }
}
.appinfobox{
    width:100%;
    height:100%;
    min-height: 674px;
    background:#2c3e50;
    background-image:linear-gradient(-45deg,#2c3e50 0,#83c9f5 100%);
    background-image:-webkit-linear-gradient(-45deg,#2c3e50 0,#83c9f5 100%);
    background-image:-moz-linear-gradient(-45deg,#2c3e50 0,#83c9f5 100%);
    background-image:-ms-linear-gradient(-45deg,#2c3e50 0,#83c9f5 100%);
    background-image:-o-linear-gradient(-45deg,#2c3e50 0,#83c9f5 100%);
    padding-top:60px;
    padding-bottom: 90px;
    .logoimg{
    width: 120px;
    height: 120px;
    margin: 0 auto 40px;
    text-align: center;
    }
    .tips p, .tips div{
      color: #fff;
      line-height: 20px;
      text-align: center;
      margin-top: 10px;
      font-family: "Open Sans","Helvetica Neue",Helvetica,"Microsoft YaHei",sans-serif;
    }
    .qr{
      text-align: center;
      margin-top: 40px;
      position: relative;
      .border-left{
        position: absolute;
        top: 30px;
        width: 200px;
        left: 50%;
        margin-left: -220px;
        height: 1px;
        background: #fff;
      }
      .border-right{
        position: absolute;
        top: 30px;
        width: 200px;
        left: 50%;
        margin-left: 20px;
        height: 1px;
        background: #fff;
      }
      .qrbox{
        width: 120px;
        height: 120px;
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        margin: 0 auto;
      }
      .qrwarp{
        width: 100px;
        height: 100px;
        text-align: center;
      }
    }
    .inverse{
      color: #fff;
border-color: #fff;
background: 0 0;
border-radius: 50px;
&:hover{
  color: #fff;
background: #66cdcc;
border-color: #66cdcc;
}
    }

}
.qr-tips{
  display: none;
}
@media screen and (max-width:768px){
  .qr{
    display: none;
  }
  .qr-tips{
    color: #fff;
    margin-top: 30px;
    text-align: center;
    display: block;
  }
}
a{ cursor: pointer;}
.btn:hover{
  transition: all .25s ease-in-out;
}
#notice {
  color: #fff;
  width: 100%;
  top: 20px;
  z-index: 99;
  display: none;
  position: fixed;
}
#notice h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
#notice .wrap {
  margin: 20px;
  opacity: 0.86;
  background: #333;
  position: relative;
  padding: 18px 15px;
  border-radius: 3px;
}
#notice .wrap:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 20px;
  top: -20px;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #333 transparent;
}

.app-group {
    height: 30px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $input-color;
    background-color: $input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid $input-border;
    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  }

.move-group {
  position: fixed;
  z-index:1;
  top: 50%;
  left: 50%;
  margin: -141px 0 0 -201px;
  padding: 20px;
  border:1px solid #CCC;
  text-align:center;
  font-size: 14px;
  background-color:#F4F4F4;
  overflow:hidden;
}
