.group {
  margin-top: 10px;
  .table {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    .btn-group {
      display: -webkit-box;
      > .btn { -webkit-box-flex: 1; }
    }
  }
  .tako-tabs {
    margin-top: 30px;
  }
  .edit-group {
    position: fixed;
    z-index:1;
    top: 50%;
    left: 50%;
    margin: -141px 0 0 -201px;
    padding: 20px;
    border:1px solid #CCC;
    text-align:center;
    font-size: 14px;
    background-color:#F4F4F4;
    overflow:hidden;
  }
}
