.home {
  .image-button {
    .normal { display: block; }
    .active { display: none;  }
    &:hover {
      .normal { display: none;  }
      .active { display: block; }
    }
  }
  .marketing {
    min-height: 600px;
    &.odd {
      background-color: #54bcf3;
      background-image: linear-gradient(45deg, #22a0e2, #54bcf3);
    }
  }
  .limit-width {
    @media(max-width: 767px) {
      max-width: 80%;
      height: auto;
    }
  }
  .marketing-main {
    .limit-margin-bottom {
      @media(max-width: 767px) {
        margin-bottom: 7% !important;
      }
    }
    .image { 
      margin-top: 180px;
      margin-right: 80px;
    }
    .textwrap {
      float: left;
      margin-top: 230px;
      @media(max-width: 1199px) {
        float: none;
        text-align: center;
        margin: 80px auto 60px;
      }
    }
    .title { margin-bottom: 45px; }
    .desc { margin-bottom: 52px; }
    .publish {
      display: inline-block;
      width: 223px;
      height: 67px;
    }
  }
  .marketing-upload {
    background: url('../images/home/upload-background.png') no-repeat right bottom;
    background-size: 822px 685px;
    @media(min-width: 1500px) { background-position: 80% bottom; }
    .container { 
      min-height: 700px; 
    }
    .image { margin-top: 144px; }
    .title { margin-bottom: 40px; }
    .textwrap {
      float: left;
      margin: 294px 153px 0 75px;
      @media(max-width: 1199px) {
        float: none;
        text-align: center;
        margin: 20px auto 80px;
      }
    }
    .image-top {
      margin-top: 5%;
      @media(max-width: 767px) { margin: 15% 0 5% 0; }
    }
    .limit-margin-bottom {
      @media(max-width: 767px) {
        margin-bottom: 5% !important;
      }
    }
  }
  .marketing-feedback {
    .container { 
      min-height: 700px; 
      background: url('../images/home/feedback-background.png') no-repeat left bottom;
      background-size: 587px 697px;
    }
    .image {
      float: left;
      margin: 144px 116px 144px 61px;
    }
    .title {
      margin-bottom: 40px;
    }
    .textwrap {
      float: left;
      margin-top: 300px;
    }
    @media(max-width: 767px) {
      .image { margin: 10% 0 7% 0 !important; }
      .limit-margin-bottom { margin-bottom: 5% !important; }
    }
    @media(max-width: 500px) {
      .image { margin: 25% 0 10% 0 !important; }
    }
    @media(max-width: 1199px) {
      .container { text-align: center; }
      .limit-margin-bottom { margin-bottom: 3%; }
      .image { 
        float: none;
        margin: 5% 0;
      }
      .textwrap {
        float: none;
        margin-top: 0;
      }
    }
  }
  .marketing-store {
    min-height: 700px;
    text-align: center;
    .store-button {
      width: 266px;
      height: 72px;
      margin: auto;
      display: block;
    }
    .image {
      margin-top: 166px;
      margin-bottom: 64px;
    }
    .title {
      margin-bottom: 83px;
    }
    .limit-margin-bottom {
      @media(max-width: 767px) {
        margin-bottom: 12% !important;
      }
    }
  }
}