.tako-navbar {
  width: 100%;
  background: #2c3e50;
  border-radius: 0;
  margin-bottom: 0;
  animation-duration: 0.1s;
  transition: all 0.3s ease-out;
  .navbar-brand {
    color: #fff;
    font-size: 26px;
    @media (min-width: 768px) { padding: 20px 15px; }
    .logo { 
      display: inline;
      margin-top: -5px;
      margin-right: 3px;
      &.dark { display: none; }
    }
  }
  .navbar-toggle {
    border: 1px solid darken($blue, 12%);
    .icon-bar { background: #fff; }
  }
  .navbar-nav {
    &.navbar-main {
      @media (min-width: 768px) { margin-left: 0%; }
      @media (min-width: 992px) { margin-left: 0%; }
    }
    > li {
      > a {
        color: #eee;
        transition: all 0.2s ease-out;
        .fa { margin-right: 5px; }
        &:hover, &:active, &.active, &:focus {
          color: #fff;
          background: darken($blue, 3%);
        }
        @media (min-width: 768px) {
          padding: 20px 25px;
        }
      }
    }
    &.navbar-right {
      > li > a {
        @media (min-width: 768px) { padding: 20px 15px; }
      }
    }
    .fa-th-large { font-size: 13px; }
    .icon-xiazai {
      left: -2px;
      position: relative; 
      @media(max-width: 767px) {
        margin-right: 2px;
      }
    }
    .login-link {
      position: relative;
      @media (min-width: 768px) {
        &:hover:after { color: #fff; }
        &:after {
          content: '|';
          z-index: 99;
          position: absolute;
          right: -2px;
          top: 20px;
        }
      }
    }
  }
  &.light {
    background: #fff;
    .navbar-collapse { border-top: 1px solid #eee; }
    .login-link:hover:after { color: #888 !important; }
    .signup-link { color: $blue !important; }
    .navbar-brand {
      color: #197cb8;
      .logo {
        &.dark { display: inline; }
        &.light { display: none; }
      }
    }
    .navbar-toggle {
      border: 1px solid $blue;
      .icon-bar { background: $blue; }
    }
    .navbar-nav {
      > li {
        > a {
          color: #888;
          &:hover, &:active, &.active, &:focus {
            color: $blue;
            background: darken(#fff, 3%);
          }
        }
      }
    }
  }
}