$session_blue: #27a3e3;
@media screen and (max-width:370px){
div.session {
  margin-bottom: 20px;
  div.banner{
    height: 120px;
    >div img{
      height: 90px;
      width: 70px;
    }
    >a img{
      height: 80px;
      width: 80px;
    }
  }
  div h1{
    margin: 50px 0 50px 0;
  }
}
}
@media screen and (max-width:320px) {
  div.session {
    margin-bottom: 40px;
    div.banner{
      height: 120px;
      >div img{
        height: 90px;
        width: 70px;
      }
      >a img{
        height: 80px;
        width: 80px;
      }
    }
    div h1{
      margin: 40px 0 40px 0;
    }
  }
}
.session {
  margin-bottom: 100px;
  .banner {
    height: 220px;
    text-align: center;
    background-color: #54bcf3;
    background-image: linear-gradient(60deg, #22a0e2, #54bcf3);
    .logo {
      top: -6px;
      position: relative;
    }
  }
  h1 {
    color: $session_blue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 80px 0 50px 0;
  }
  .terms, .forget {
    color: #999;
    margin-top: 8px;
  }
  .terms { font-weight: normal; }
  .forget {
    &:active, &:hover { color: $session_blue; }
  }
  .message {
    color: #999;
    margin-top: 15px;
    text-align: center;
    a { color: $session_blue; }
  }
  .form-group {
    margin-bottom: 28px;
  }
  .has-error .form-control { border-color: #f45140; }
  .form-control {
    height: 50px;
    border-radius: 0;
    &:-webkit-autofill {
      transition: background-color 0s;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
  }
  .btn-action {
    color: #fff;
    font-size: 20px;
    border-radius: 0;
    background: #54bcf3;
    margin-top: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.2s linear;
    &:active, &:hover { background: lighten(#54bcf3, 4%); }
  }
}
