.store {
  text-align: center;
  .app {
    display: block;
    margin-top: 40px;
    img { border-radius: 8px; }
    .name {
      display: block;
      margin: 12px 0 8px 0;
    }
  }
  .platform {
    color: #fff;
    font-size: 12px;
    width: 55px;
    margin: auto;
    display: block;
    line-height: 18px;
    border-radius: 2px;
    &.ios { background: $blue; }
    &.android { background: $green; }
  }
}