.storage {
  margin-top: 10px;
  .table {
    margin-top: 20px;
  }
  .tako-tabs {
    margin-top: 30px;
  }
  .add-storage {
    position: fixed;
    z-index:1;
    top: 140px;
    padding: 20px;
    border:1px solid #CCC;
    text-align:left;
    font-size: 14px;
    background-color:#F4F4F4;
    width: 500px;
    overflow:hidden;
  }
  .public-notice {
    color: #666;
    font-size: 12px;
    font-weight: normal;
  }
  .public-label {
    padding-top: 6px;
  }
}
