.survey {
  .form {
    text-align: center;
    border-radius: 4px;
    padding: 18px 8px 15px;
    transition: all 0.2s ease;
    margin-bottom: 15px;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 3px #e0e0e0;
    .title { 
      color: #555;
      margin-bottom: 4px;
    }
    .icon-file {
      color: $blue;
      font-size: 60px;
      margin-bottom: 10px;
    }
    .date {
      color: #999;
      font-size: 11px;
    }
    &:hover {
      .title { color: #333; }
      cursor: pointer;
      background: #f2f2f2;
    }
  }
  .form-settings {
    .setting { 
      input { 
        border-radius: 0;
        margin-right: 4px;
      } 
    }
  }
  .form-content {
    background: #fff;
    padding: 20px 15px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px #ccc;
    .editable {
      box-shadow: none;
      border-radius: 0;
      border-color: transparent;
      margin-bottom: 5px;
      &:hover { 
        border-color: #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      }
      &:focus { 
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
      &.form-title {
        color: #444;
        font-size: 24px;
        font-weight: bold;
        padding: 20px 12px;
      }
      &.form-desc {
        color: #888;
        height: 30px; 
        padding: 0 12px; 
      }
    }
  }
  .form-questions {
    margin-top: 10px;
    .question {
      cursor: move;
      position: relative;
      padding: 10px 15px;
      border-radius: 2px;
      margin-bottom: 4px;
      border: 1px solid transparent;
      transition: background 0.1s linear;
      &:hover { 
        background: #f4f4f4;
        .actions { display: block; }
      }
      &.editing {
        cursor: auto;
        z-index: 9;
        background: #fcfcfc;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 10px 3px #e0e0e0;
        .actions {
          display: block;
          .btn-edit { box-shadow: inset 0 0 2px 1px rgba(170, 170, 170, 0.3); }
        }
      }
      .title { font-weight: bold; }
      .move { cursor: move; }
      .desc {
        color: #666;
        font-size: 12px;
      }
      .ctrl {
        color: #333;
        font-size: 13px;
        margin-top: 3px;
      }
      input { 
        cursor: move;
        margin-right: 3px;
      }
      textarea { border: 1px solid #ccc; }
      .grid-table {
        text-align: center;
        th { text-align: center; }
      }
      .ctrl-radio-title {
        bottom: -1px;
        position: relative;
      }
      .actions {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        button {
          color: #555;
          width: 37px;
          height: 27px;
          outline: 0;
          background: #fbfbfb;
          margin-right: 2px;
          border: 1px solid #bbb;
          border-radius: 3px;
          transition: all 0.1s linear;
          &:hover {
            color: #333;
            background: #fff; 
            border-color: #aaa;
            box-shadow: inset 0 0 1px #ccc;
          }
        }
      }
      .question-editor {
        padding: 35px 0 20px 35px;
        input { cursor: auto; }
        .move { cursor: move; }
        .form-group { 
          margin-bottom: 8px; 
          &.config {
            margin: 20px 0 30px 30px;
            .form-control { 
              height: auto;
              max-width: 200px;
            }
            .set-height { height: 28px; }
            .fa-remove {
              color: #aaa;
              font-size: 12px;
              padding: 8px 8px 3px 6px;
              transition: color 0.1s linear;
              &:hover { color: #555; }
            }
          }
        }
        .new-option {
          .form-control {
            font-size: 12px;
            border-color: #eee;
            background: #fcfcfc;
            &:focus { border-color: #66afe9; }
          }
        }
        .control-label {
          color: #666; 
          padding-top: 5px; 
          text-align: right;
          font-weight: normal;
        }
        .typewrap { 
          width: 160px;
          position: relative;
          padding-left: 15px;
          .fa-caret-down {
            color: #555;
            position: absolute;
            right: 8px;
            top: 7px;
          }
        }
        select {
          -webkit-appearance: none; 
          padding-top: 0;
          padding-bottom: 0;
        }
        .form-control {
          color: #333;
          height: 28px; 
          border-radius: 0;
        }
        .btn-done {
          border-radius: 0;
          margin-right: 40px;
        }
      }
    }
  }
}