.upload {
  margin-top: 10px;
  position: relative;
  .progress {
    position: absolute;
    margin: 0 10%;
    z-index: 999;
    width: 80%;
    top: 350px;
  }
  .well {
    position: relative;
    .file { opacity: 0; }
    .loading {
      z-index: 99;
      opacity: 0.75;
      background: #f1f1f1;
    }
    .file, .loading {
      position: absolute;
      cursor: pointer;
      display: block;
      outline: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  .appinfo { 
    height: 600px;
    form { margin-top: 60px;}
  }
  .notice {
    color: #666;
    font-size: 14px;
    margin-left: 10px;
  }
  .dropzone {
    height: 600px;
    cursor: pointer;
    text-align: center;
    .fa {
      color: $green;
      font-size: 160px;
      margin-top: 160px;
    }
  }
  .public-notice {
    color: #666;
    font-size: 12px;
    margin-left: 3px;
    font-weight: normal;
  }
  .public-label {
    padding-top: 0;
  }
  .text-blue{
    color: #337ab7;
  }
  .app-group {
    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $input-color;
    background-color: $input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid $input-border;
    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  }

}
