.user {

  .image {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    float: left;
    img { border-radius: 10px; }
    &.editable:hover:after {
      content: '更改 Logo';
      color: #fff;
      font-size: 12px;
      text-align: center;
      text-shadow: none;
      line-height: 70px;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      display: block;
      opacity: 0.7;
      background: #444;
      position: absolute;
      border-radius: 10px;
    }
  }

  .imagefile {
    top: 0;
    left: 0;
    opacity: 0;
    width: 70px;
    height: 70px;
    display: block;
    cursor: pointer;
    z-index: 99;
    position: absolute;
  }

  .username {
    padding-top: 7px;
    color: #666;
    margin-left: 3px;
    font-weight: normal;
  }

  .email {
    padding-top: 7px;
    color: #666;
    margin-left: 3px;
    font-weight: normal;
  }

  .gender {
    padding-top: 5px;
  }
}