$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "iconfonts";
@import "app-classify";
$red:   #bd2c00;
$blue:  #2980b9;
$green: #5cb85c;
$navbar_height: 60px;

body {
  color: #333;
  background: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

.btn {
  padding: 6px 20px;
}

.btn-primary {
  background: $blue;
  &.active { background: darken($blue, 3%); }
}

.table {
  background-color: #fff;
}

.table-fixed {
  table-layout: fixed;
}

.font-normal {
  font-weight: normal;
}

.block {
  display: block;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto;
}

.relative {
  position: relative;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transparent {
  opacity: 0;
}

.fullspace {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.error-field {
  border: 1px solid $red;
}

.ng-hide-add, .ng-hide-remove {
  display: block !important;
}

.no-padding-right {
  padding-right: 0;
}

@media(max-width: 399px) {
  .hidden-xxs { display: none; }
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toast-top-right {
  top: 68px;
}

.role-tag {
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 2px;
  &.owner { background: $green; }
  &.admin { background: $blue; }
}

.footer {
  font-size: 14px;
  padding: 20px 0 10px;
  background: #f4f4f4;
  border-top: 1px solid #ccc;
  .fa {
    color: #C74C4C;
  }
}

#loading-bar .bar {
  height: 3px;
  background: #00d8ff;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#main {
  &.container {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.tako.table {
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px #ccc;
  th { text-align: center; }
  thead tr { background: #f4f4f4; }
}

.table {
  .btn-xs {
    line-height: 1;
    padding: 3px 10px;
  }
}

.tako-confirm {
  text-align: center;
  margin-top: 30px;
  h1 {
    color: #555;
    font-size: 26px;
    margin-bottom: 15px;
  }
  .fa {
    font-size: 80px;
    &.success { color: $green; }
    &.error { color: $red; }
  }
}

.tako-tabs {
  .nav-tabs {
    li.active {
      a {
        font-weight: bold;
      }
    }
  }
}

.alertwindow {
  border: 1px solid rgb(51, 102, 153);
  position: absolute;
  left: 50%;
  top: 50%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 25px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin-left: -150px;
  margin-top: -100px;
  width: 300px;
  text-align: center;
  z-index: 10001;
  background: white;
  display: none;
}

.alerttitle {
  margin: 0px;
  padding: 3px;
  opacity: 0.75;
  height: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: normal;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  background: #336699;
}

.alerttext {
  margin: 15px 15px;
}

.alertbutton {
  margin-bottom: 15px;
  color: #fff;
  background: #336699;
  display: inline-block;
  padding: .5em 1em;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
}

@import "navbar";
@import "user";
@import "home";
@import "dash";
@import "item";
@import "store";
@import "upload";
@import "survey";
@import "session";
