.navbar{
  margin: 0;
  .btn-navbar{
    margin: 10px;
  }
  .brand{
    display: block;
    float: left;
    width: 190px;
    height: 50px;
    box-sizing: border-box;
    background: #1c2b36;
    padding-left: 40px;
    line-height: 50px;
    span{
      margin: 5px 0 0 5px;
      font-size: 22px;
      text-decoration: none;
    }
    img{
      position: relative;
      top: -5px;
    }
    &:hover{
      text-decoration: none;
    }
  }
}
.navbar-inverse{
  height: 50px;
  background: #fff;
  border-bottom: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
  .navbar-inner{
    height: 50px;
    line-height: 50px;
    .navbar-text{
      margin: 0;
    }
    .nav-collapse{
      position: relative;
      top: -50px;
      width: 80%;
      left: 20%;
      line-height: 50px;
      .nav{
        overflow: hidden;
        li{
          float: left;
          height: 50px;
          padding: 10px;
          box-sizing: border-box;
          a{
            height: 30px;
            line-height: 30px;
            padding: 0;
          }
        }
      }
    }

  }
}
