.container-fluid{
  margin-top: 50px;
  padding: 0;
}
.container{
  width: 100%;
  padding: 0;
}
.mainsiderbar{
  width: 190px;
  height: 100%;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #1c2b36;
  ul{
    padding: 0;
    li{
      list-style: none;
      height: 40px;
      padding: 0;
      border-bottom: 1px solid #1c2b30;
      a{
        display: block;
        padding: 5px 0 5px 20px;
        height: 40px;
        line-height: 30px;
        color: #A0C4E4;
        &.active{
          background: #23527c;
          text-decoration: none; 
        }
      }
      &:hover{
        background: #23527c;
        a{
          color: #5093CE;
          text-decoration: none;
        }
      }
    }
  }
}
@media (max-width: 767px){
  body{
    padding: 0;
  }
  .navbar-inner{
    background: #1c2b36;
  }
  .container-fluid{
    margin-top: 0;
  }
  .mainsiderbar{
    display: none;
  }
  div.container-right .app-content-body{
    margin-left: 0px;
    .panel{
      margin: 10px;
    }
  }
}
