body{
  background: #f6f8f8;
  font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,sans-serif;
}
a{
  cursor: pointer;
}

.container-right{
  float:right;
  width:100%;
  .app-content-body{
    margin-left: 190px;
    .panel{
      box-shadow: 0 1px 1px rgba(0,0,0,0.05);
      padding: 10px;
      margin: 20px;
      min-height: 670px;
    }
  }
}
